$link-color: #21A0CB;
$link-color-hover: #F39800;
$logo-color: #0578A5;
$search-box-color: #2BA6D2;
$search-box-highlight-color: #75B9F0;

$debug: true !default;
$zen-column-count: $global-columns-small;

@import "zen/background";

@mixin debug-background() {
  @if $debug {
    @include zen-grid-background();
  }
}
@mixin glow($color) {
  border-color: $search-box-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $search-box-color;
}


html, body {
  font-family: Helvetica,Corbel,"Microsoft YaHei",Verdana,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  color: $link-color-hover;
  text-decoration: underline;
}
.clear {
  clear: both;
}

/**
* topnav style
*/
#topnav > nav {
  max-width: 1200px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
#topnav {
  background-color: #F8F8F8;
  color: #CCC;
  padding: 0px 0px 0px 15px;
  font-size: 12px;
  border-bottom: 1px solid #E6E6E6;
  height: 28px;
}
#topnav .block {
  margin: 0px;
}
#topnav ul.menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  top: 7px;
  left: 7px;
  line-height: 1em;
}
#topnav ul.menu li {
  display: block;
  float: left;
  padding: 1px 8px 1px 8px;
  border-right: solid 1px #DDD;
}
#topnav ul.menu li a {
  color: #949494;
}
#topnav ul.menu li a:hover {
  color: $link-color-hover;
}

#topnav #block-system-user-menu ul.menu {
  left: auto;
  right: 7px;
}

/**
* logo and site name style
*/
#name-and-slogan {
  line-height: 1em;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 193px;
  float: none;
}
#site-name {
  line-height: 1.4em;
}
#site-name a {
  color: #777;
  text-decoration: none;
}
#name-and-slogan .highlight {
  color: #D63544;
  text-align: center;
}
#logo {
  font-size: 6em;
  color: $logo-color;
}
#site-address {
  float: left;
  font-weight: bold;
  color: #999;
  position: relative;
  top: -0.4em;
}
#site-slogan {
  float: left;
  color: $logo-color;
}



/**
* Home page style
*/

body.front #content {
  @include zen-nested-container();
}

#block-search-form,
#block-search-form > #search-block-form,
#block-search-form > #search-block-form > div > div.container-inline,
#block-search-form > #search-block-form > div > div.container-inline > div.form-item-search-block-form,
#block-search-form > #search-block-form > div > div.container-inline > #edit-actions,
#block-block-1,
#block-block-1 h2 {
  @include zen-grid-item-base();
}
#block-search-form,
#block-search-form > #search-block-form,
#block-search-form > #search-block-form > div > div.container-inline,
#block-block-1 {
  @include zen-nested-container();
}

  /**
  * search box style
  */
  #block-search-form > #search-block-form > div > div.container-inline > div.form-item-search-block-form {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
  }
  #block-search-form > #search-block-form > div > div.container-inline > div.form-item-search-block-form:after {
    position: absolute;
    font-family: FontAwesome;
    top: 8px;
    left: 21px;
    content: "\f002";
    color: #AAA;
    font-size: 0.8em;
  }
  $search-box-height: 40px;
  #block-search-form > #search-block-form > div > div.container-inline > div.form-item-search-block-form #edit-search-block-form--2 {
    width: 100%;
    border: 4px solid $search-box-color;
    height: $search-box-height;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 25px;
    padding-right: 5px;
    background-image: none;
  }
  #block-search-form > #search-block-form > div > div.container-inline > div.form-item-search-block-form #edit-search-block-form--2:focus {
    @include glow($search-box-highlight-color);
    color: #555;
  }
  #block-search-form > #search-block-form > div > div.container-inline > #edit-actions > input {
    width: 100%;
    height: $search-box-height;
    background: none repeat scroll 0 0 $search-box-color;
    border: medium none;
    color: #FFF;
    font-weight: bold;
  }
  #block-search-form > #search-block-form > div > div.container-inline > #edit-actions > input:hover,
  #block-search-form > #search-block-form > div > div.container-inline > #edit-actions > input:focus {
    background-color: $search-box-highlight-color;
  }
  #block-search-form,
  #block-block-1 {
    @include zen-clear(right);
  }
  
  /**
  * Shortcut style
  */
  #block-block-1 {
    margin-top: 20px;
  }
  #block-block-1 h2 {
    color: #949494;
    font-size: 0.9em;
    padding: 5px 15px;
    background-color: #EEEEEE;
  }
    

/** ----------------------------- **/
@media all and (min-width: 0px) and (max-width: 479px) {
  /* columns count is defined on the top */

  body {
    @include debug-background();
  }

  /**
  * search box style
  */
  #block-search-form > #search-block-form > div > div.container-inline > div.form-item-search-block-form {
    @include zen-grid-item(1, 1);
    margin-bottom: 20px;
  }
  #block-search-form > #search-block-form > div > div.container-inline > #edit-actions {
    @include zen-grid-item(1, 1);
    @include zen-clear();
  }
  
  /**
  * shortcut style
  */
  #block-block-1 h2 {
    @include zen-grid-item(1, 1);
  }
}

/** ----------------------------- **/
@media all and (min-width: 480px) and (max-width: 959px) {
  $zen-column-count: $global-columns-middle;
  
  body {
    @include debug-background();
  }

  /**
  * search box style
  */
  #block-search-form > #search-block-form > div > div.container-inline > div.form-item-search-block-form {
    @include zen-grid-item(3, 2);
  }
  #block-search-form > #search-block-form > div > div.container-inline > #edit-actions {
    @include zen-grid-item(1, 2, right);
  }
  /**
  * shortcut style
  */
  #block-block-1 h2 {
    @include zen-grid-item(4, 2);
  }
}

/** --------------------------- **/
@media all and (min-width: 960px) {
  $zen-column-count: $global-columns-large;

  body {
    @include debug-background();
  }

  /**
  * search box style
  */
  #block-search-form > #search-block-form > div > div.container-inline > div.form-item-search-block-form {
    @include zen-grid-item(5, 3);
  }
  #block-search-form > #search-block-form > div > div.container-inline > #edit-actions {
    @include zen-grid-item(1, 3, right);
  }
  /**
  * shortcut style
  */
  #block-block-1 h2 {
    @include zen-grid-item(6, 3);
  }
}