$link-color: #21A0CB;
$link-color-hover: #F39800;
$logo-color: #0578A5;
$search-box-color: #2BA6D2;
$search-box-highlight-color: #75B9F0;

$debug: false !default;
$zen-column-count: $global-columns-small;

@import "zen/background";

@mixin debug-background() {
  @if $debug {
    @include zen-grid-background();
  }
}
@mixin glow($color) {
  border-color: $color;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $color;
}



html, body {
  font-family: Helvetica,Corbel,"Microsoft YaHei",Verdana,Arial,sans-serif;
  color: #444;
}
h1 {
  font-size: 1.7em;
}
h1, h2, h3, h4, h5 {
  color: #333;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  color: $link-color-hover;
  text-decoration: underline;
}
.clear {
  clear: both;
}

input, textarea, checkbox, select {
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  padding: 7px;
  font-size: 0.9em;
}
input:focus, textarea:focus, checkbox:focus, select:focus {
  background-color: #FFF;
}
input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.block h2 {
  font-size: 1.2em;
}



#block-block-1,
#block-block-9,
#edit-field-rental-suburb-wrapper,
#edit-field-rental-property-type-wrapper,
#edit-field-rental-rental-type-wrapper,
.view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > div,
#content > article > .field {
  @include zen-grid-item-base();
}

.container,
#header > .region-header,
#content #block-views-exp-rental-item-search-page,
#content #block-views-exp-rental-item-search-page #views-exposed-form-rental-item-search-search-result-list,
#content #block-views-exp-rental-item-search-page #views-exposed-form-rental-item-search-search-result-list > div,
#content #block-views-exp-rental-item-search-page #views-exposed-form-rental-item-search-search-result-list > div .views-exposed-form,
#content #block-views-exp-rental-item-search-page #views-exposed-form-rental-item-search-search-result-list > div .views-exposed-form .views-exposed-widgets,
#block-block-1,
#block-block-1 ul,
.view-display-id-search_result_list,
.view-display-id-search_result_list > .view-content,
.view-display-id-search_result_list > .view-content > .item-list,
.view-display-id-search_result_list > .view-content > .item-list > ul,
.view-display-id-search_result_list > .view-content > .item-list > ul > .views-row,
#content > article {
  @include zen-grid-container();
}



/**
* topnav style
*/
#topnav > nav {
  max-width: 1200px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
#topnav {
  background-color: #F8F8F8;
  color: #CCC;
  padding: 0px 0px 0px 15px;
  font-size: 12px;
  border-bottom: 1px solid #E6E6E6;
  height: 28px;
}
#topnav .block {
  margin: 0px;
}
#topnav ul.menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  top: 7px;
  left: 7px;
  line-height: 1em;
}
#topnav ul.menu li {
  display: block;
  float: left;
  padding: 1px 8px 1px 8px;
  border-right: solid 1px #DDD;
}
#topnav ul.menu li a {
  color: #949494;
}
#topnav ul.menu li a:hover {
  color: $link-color-hover;
}
#topnav #block-system-user-menu ul.menu {
  left: auto;
  right: 7px;
}
#topnav #block-system-user-menu ul.menu li.first a {
  font-weight: bold;
  color: $link-color-hover;
}
/**--------------------------
* Site name and slogan style
--------------------------- */
#header .block {
  position: relative;
  margin-bottom: 0px;
}
#name-and-slogan {
  width: 212px;
  position: relative;
}
#name-and-slogan a:hover {
  text-decoration: none;
  color: auto;
}
#name-and-slogan h1 {
  line-height: 46px;
  margin: 0px;
  padding-left: 100px;
  padding-top: 15px;
  
}
#name-and-slogan em {
  font-style: normal;
  color: #B90202;
  font-size: bold;
}
#name-and-slogan div {
  text-align: center;
}
#name-and-slogan .site-intro {
  margin-top: 12px;
  color: #777;
}
#name-and-slogan h1:after {
  position: absolute;
  font-family: FontAwesome;
  top: 44px;
  left: 0px;
  content: "\f015";
  color: $logo-color;
  font-size: 100px;
}
    
/** -------------
* Dummy search block style
----------------*/
#block-block-9 {
  border: 2px solid $link-color;
  padding: 15px;
  font-size: 0.8em;
}
#block-block-9 .result {
  text-align: right;
}
#block-block-9 .row {
  position: relative;
  margin-bottom: 6px;
}
#block-block-9 h3 {
  position: absolute;
  width: 80px;
  top: 4px;
  left: 0px;
  margin: 0px;
}
#block-block-9 ul {
  list-style: none;
  padding-left: 95px;
  margin: 0px;
}
#block-block-9 ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  cursor: pointer;
  padding: 0px 16px 0px 3px;
}
#block-block-9 ul li.selected:after {
  content: "\f00d";
  color: #FFF;
  font-size: 1em;
  font-family: FontAwesome;
  position: relative;
  left: 3px;
}
#block-block-9 ul li:hover {
  text-decoration: underline;
}
#block-block-9 ul li.selected {
  color: #FFF;
  padding-right: 5px;
  background-color: $link-color-hover;
}
#block-block-9 ul li.selected:hover {
  text-decoration: none;
}
#block-views-fd792b1b22e1547b4557bcc68d00a766 {
  display: none;
}

/** -------------
* list style
----------------*/
#page-title {
  font-size: 1.2em;
  padding-left: 10px;
}
#page #page-title {
  padding-left: 0px;
}
body.page-node #page-title {
  padding-left: 0px;
}
.view-rental-item-search > .view-content > .item-list > ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}
.view-rental-item-search > .view-content > .item-list > ul > .views-row {
  font-size: 0.8em;
  @include zen-clear(both);
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px dashed #CCCCCC;
}
.view-display-id-latest_published > .view-content > .item-list > ul > .views-row {
  border-top: 1px solid #CCCCCC;
}
.view-rental-item-search > .view-content > .item-list > ul > .views-row:hover {
  background-color: #FEF6E8 !important;
}
.view-rental-item-search > .view-content > .item-list > ul > .views-row-odd {
  background-color: #FCFCFC;
}
.view-rental-item-search > .view-content > .item-list > ul > .views-row > .views-field-field-rental-suburb span,
.view-rental-item-search > .view-content > .item-list > ul > .views-row > .views-field-field-rental-property-type span,
.view-rental-item-search > .view-content > .item-list > ul > .views-row > .views-field-field-rental-rental-type span {
  display: inline-block;
  font-size: 0.8em;
  padding: 0px 4px;
  background-color: #EEE;
  color: #888;
}
.view-rental-item-search .pager {
  font-size: 0.8em;
}
.view-rental-item-search .pager li {
  padding: 0.3em 0.5em;
  border: 1px solid #EEE;
}
.view-rental-item-search > .view-content > .item-list > ul > .views-row .views-field-created {
  font-size: 0.9em;
}
.view-display-id-latest_published > .view-content > .item-list > ul > .views-row {
  border-top: 1px solid #CCCCCC;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}
.view-display-id-latest_published > .view-content > .item-list > ul > .views-row .views-field-field-rental-images {
  padding: 6px;
  text-align: center;
  margin-top: 5px;
}
.view-rental-item-search > .view-content > .item-list > ul > .views-row  .views-field-field-rental-price {
  color: $link-color-hover;
  font-size: 0.9em;

  margin-left: 10px;
}
#search-breadcrumb {
  border: 1px solid #CCCCCC;
  padding: 9px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 0.9em;
  display: none;
}
#search-breadcrumb span {
  color: $link-color-hover;
  font-size: 0.9em;
  font-weight: bold;
}
#search-breadcrumb a {
  font-size: 0.9em;
}
.view-empty .no-result {
  font-size: 2em;
  text-align: center;
  margin-top: 62px;
  font-weight: bold;
}
.view-empty .no-result span {
  display: block;
  font-size: 0.7em;
  margin-top: 20px;
}
.view-header {
  font-size: 0.7em;
}
.view-display-id-search_result_list {
  @include zen-clear(both);
}

/** -------------
* detail page style
----------------*/
#content > article {
  font-size: 0.8em;
  margin-top: 15px;
}
#content > article > .field {
  @include zen-grid-item-base();
  border-top: 1px dotted #DDDDDD;
  font-size: 1em;
  padding-top: 6px;
  padding-bottom: 6px;
}
#content > article > .field > .field-label {
  margin-right: 7px;
}

$temp-column-count: $zen-column-count;
$zen-column-count: 2;
#content > article > .field-name-field-rental-suburb,
#content > article > .field-name-field-rental-address,
#content > article > .field-name-field-rental-price,
#content > article > .field-name-field-rental-property-type,
#content > article > .field-name-field-rental-rental-type,
#content > article > .field-name-field-rental-facilities,
#content > article > .field-name-field-rental-facilities-,
#content > article > .field-name-field-rental-facilities-text,
#content > article > .field-name-field-rental-near-by-facilities,
#content > article > .field-name-field-rental-near-by-facilities-,
#content > article > .field-name-field-rental-near-by-facilities-text {
  @include zen-grid-item(1, 1);
  @include zen-clear(both);
}
#content > article > .field-name-field-rental-contact,
#content > article > .field-name-field-rental-phone,
#content > article > .field-name-field-rental-email,
#content > article > .field-name-field-rental-qq,
#content > article > .field-name-field-rental-mobile {
  @include zen-grid-item(1, 2);
}
$zen-column-count: $temp-column-count;

#content > article > .field.field-name-body,
#content > article > .field.field-name-field-rental-images {
  @include zen-clear(both);
  @include zen-grid-item($zen-column-count, 1);
}
#content > article > .field.field-name-field-rental-images .flex-direction-nav a:before {
  margin-top: 8px;
}
#content > article > .field-name-field-rental-property-type .field-item,
#content > article > .field.field-name-field-rental-facilities .field-item,
#content > article > .field-name-field-rental-rental-type .field-item,
#content > article > .field-name-field-rental-near-by-facilities .field-item {
  display: inline;
}
#content > article > .field-name-field-rental-property-type .field-item:after,
#content > article > .field.field-name-field-rental-facilities .field-item:after,
#content > article > .field-name-field-rental-rental-type .field-item:after,
#content > article > .field-name-field-rental-near-by-facilities .field-item:after {
  content: "/";
}
#content > article > .field-name-field-rental-property-type .field-item:last-child:after,
#content > article > .field.field-name-field-rental-facilities .field-item:last-child:after,
#content > article > .field-name-field-rental-rental-type .field-item:last-child:after,
#content > article > .field-name-field-rental-near-by-facilities .field-item:last-child:after {
  content: "";
}
#breadcrumb {
  margin-bottom: 5px;
}
#breadcrumb a {
  font-weight: bold;
  text-decoration: none;
}

/** -------------
* first sidebar style
----------------*/
#block-block-5 p {
  margin: 0px;
  position: relative;
}
#block-block-5 p a {
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 9px 6px;
  color: #FFF;
  background-color: $link-color-hover;
  text-align: center;
}
#block-block-5 p a:before {
  position: absolute;
  font-family: FontAwesome;
  top: 11px;
  left: 7px;
  content: "\f067";
  color: #FFF;
  font-size: 1em;
}
#block-block-5 p a:hover {
  text-decoration: none;
}

/**-------------
* Create form style
---------------- */
#rental-node-form .form-item > label {
  font-size: 0.8em;
}
#rental-node-form .form-item > label.option {
  font-size: 0.9em;
}
#edit-field-rental-property-type > div,
#edit-field-rental-rental-type > div,
#edit-field-rental-facilities > div,
#edit-field-rental-near-by-facilities > div {
  width: 100%;
}
#edit-field-rental-property-type .form-checkboxes .form-item,
#edit-field-rental-rental-type .form-checkboxes .form-item,
#edit-field-rental-facilities .form-checkboxes .form-item,
#edit-field-rental-near-by-facilities .form-checkboxes .form-item {
  display: block;
  width: 105px;
  float: left;
}
#edit-field-rental-property-type:after,
#edit-field-rental-rental-type:after,
#edit-field-rental-facilities:after,
#edit-field-rental-near-by-facilities:after {
  content: '';
  display: table;
  clear: both;
}
#edit-field-rental-suburb-und {
  background-position: 100% 999px;
}
#edit-field-rental-suburb-und.throbbing {
  background-position: 100% -13px;
}
#edit-submit {
  background-color: $search-box-color;
  color: #FFF;
  border: none;
  width: 30%;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  text-align: center;
  font-weight: bold;
}
#edit-submit:hover {
  background-color: $search-box-highlight-color;
}
#edit-field-rental-images .tabledrag-toggle-weight-wrapper {
  display: none;
}
#edit-field-rental-images .image-widget-data input[type=file] {
  margin-right: 10px;
}
#edit-field-rental-images .image-widget-data input[type=submit] {
  display: none;
}
#edit-field-rental-facilities-,
#edit-field-rental-near-by-facilities-,
#edit-field-rental-comment,
#edit-field-rental-url {
  display: none;
}
/** -------------
* footer style
----------------- */
#footer-wrapper {
  width: 100%;
  clear: both;
  border-top: 1px solid #EEEEEE;
}
#block-block-2 {
  color: #999;
  font-size: 0.7em;
}
#block-block-2 i {
  color: red;
}
#block-menu-block-2 {
  font-size: 0.7em;
}
#block-menu-block-2 h2 {
  display: none;
}
#block-menu-block-2 ul.menu {
  list-style: none;
  padding-left: none;
  margin-left: 0px;
  padding-left: 0px;
}
#block-menu-block-2 ul.menu li {
  display: block;
  float: left;
  margin-right: 14px;
}
#block-menu-block-2 ul.menu li a {
  color: #999;
}

/** -------------
* shortcut block style
----------------*/
#block-block-1 h2,
#block-block-8 h2 {
  padding: 5px 15px;
  background-color: #EEEEEE;
  color: #949494;
  font-size: 0.9em;
}
#block-block-1 ul,
#block-block-8 ul {
  list-style: none;
  border: #EEE 1px solid;
  margin-top: 0px;
  padding: 0px;
}
#block-block-1 ul li,
#block-block-8 ul li {
  padding: 4px 7px;
  font-size: 0.8em;
}
#block-views-0aae8f16839ea8fe565a84bf0ccf339f {
  clear: both;
}
#block-views-0aae8f16839ea8fe565a84bf0ccf339f .views-field-field-rental-images {
  font-size: 1.6em;
  color: #DDD;
  font-weight: bold;
}
#block-block-8 ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 41%;
}

/**
* --------------------------------
* ---------- Cell phone ----------
* --------------------------------
**/
@media all and (min-width: 0px) and (max-width: 479px) {
  /* columns count is defined on the top */

  section.region-sidebar-first,
  section.region-sidebar-second {
    margin-top: 20px;
  }
  
  /** -------------
  * search block style
  ----------------*/
  #views-exposed-form-rental-item-search-search-result-list #edit-search-api-views-fulltext-wrapper,
  #views-exposed-form-rental-item-search-search-result-list .views-submit-button {
    @include zen-grid-item(1, 1);
    @include zen-clear(both);
  }

  #edit-field-rental-suburb-wrapper,
  #edit-field-rental-property-type-wrapper,
  #edit-field-rental-rental-type-wrapper {
    @include zen-grid-item(1, 1);
    @include zen-clear(both);
  }
  #edit-field-rental-suburb-wrapper label,
  #edit-field-rental-suburb-wrapper > div,
  #edit-field-rental-property-type-wrapper label,
  #edit-field-rental-property-type-wrapper > div,
  #edit-field-rental-rental-type-wrapper label,
  #edit-field-rental-rental-type-wrapper > div {
    display: inline-block;
  }
  
  /**-------------
  * name and slogan
  ---------------*/
  #name-and-slogan br {
    display: none;
  }
  #name-and-slogan {
    width: auto;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  #name-and-slogan div {
    text-align: left;
    font-size: 0.8em;
    line-height: 1em;
    padding-left: 0.3em;
  }
  #name-and-slogan h1 {
    padding-left: 1.7em;
    padding-top: 0px;
  }
  #name-and-slogan h1:after {
    font-size: 1.7em;
    top: 0px;
  }
  #name-and-slogan .site-intro {
    margin-top: 0px;
  }

  /**-------------
  * footer block style
  ---------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 1;
  #footer .block {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
    margin-bottom: 0px;
  }
  #footer p {
    margin-bottom: 0px;
  }
  #footer ul.menu {
    margin: 0px 0px 10px 0px;
  }
  $zen-column-count: $temp-column-count;

  /**-------------
  * header block style
  ---------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 1;
  #header .block {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
    margin-bottom: 0px;
  }
  $zen-column-count: $temp-column-count;

  /** -------------
  * shortcut block style
  ----------------*/
  #block-block-1 {
    @include zen-clear(both);
    @include zen-grid-item(1, 1);
    padding-left: 0px;
    padding-right: 0px;
  }
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  #block-block-1 ul li:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #block-block-1 ul li:nth-child(2n) {
    @include zen-grid-item(1, 2);
  }
  $zen-column-count: $temp-column-count;

  /** -------------
  * list style
  ----------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 4;
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > div {
    display: none;
  }
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-field-rental-suburb {
    display: block;
    @include zen-grid-item(1, 1);
  }
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-title {
    display: block;
    @include zen-grid-item(3, 2);
  }
  $zen-column-count: $temp-column-count;

  /**-------------
  * Create form style
  ---------------- */
  #edit-submit {
    width: 100%;
  }
  
  /**--------------
  * second hand sidebar
  *----------------*/
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f {
    width: auto;
    float: none;
    margin: 0px;
  }
}

/**
* --------------------------------
* ------------ Tablet ------------
* --------------------------------
**/
@media all and (min-width: 480px) and (max-width: 959px) {
  $zen-column-count: $global-columns-middle;
  #content  > .container { @include debug-background();}
  
  /** -------------
  * search block style
  ----------------*/
  #block-block-9 {
    @include zen-clear(both);
    @include zen-grid-item($zen-column-count, 1);
  }
  body.front #block-block-9 {
    @include zen-grid-item(4, 2);
  }
  
  /**-------------
  * footer block style
  ---------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  #footer .block:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #footer .block:nth-child(2n) {
    @include zen-grid-item(1,2);
  }
  $zen-column-count: $temp-column-count;

  /**-------------
  * header block style
  ---------------*/
  /*
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  #header .block:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #header .block:nth-child(2n) {
    @include zen-grid-item(1,2);
  }
  $zen-column-count: $temp-column-count;

  #name-and-slogan {
    float: right;
  }
  */
  #name-and-slogan {
    margin: 0 auto;
  }
  
  /** -------------
  * shortcut block style
  ----------------*/
  #block-block-1 {
    @include zen-clear(both);
    @include zen-grid-item($zen-column-count, 1);
  }
  body.front #block-block-1 {
    @include zen-grid-item(4, 2);
    padding-left: 0px;
    padding-right: 0px;
  }
  $temp-column-count: $zen-column-count;
  $zen-column-count: 3;
  #block-block-1 ul li:nth-child(3n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #block-block-1 ul li:nth-child(3n+2) {
    @include zen-grid-item(1, 2);
  }
  #block-block-1 ul li:nth-child(3n) {
    @include zen-grid-item(1, 3);
  }
  $zen-column-count: $temp-column-count;

  /** -------------
  * list style
  ----------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 5;
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > div {
    display: none;
  }
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-field-rental-suburb {
    display: block;
    @include zen-grid-item(1, 1);
  }
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-title {
    display: block;
    @include zen-grid-item(3, 2);
  }
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-field-rental-price {
    display: block;
    @include zen-grid-item(1, 1, right);
  }
  $zen-column-count: $temp-column-count;
  
  /**--------------
  * second hand sidebar
  *----------------*/
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f {
    width: auto;
    float: none;
    margin: 0px;
  }
  
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  aside .region-sidebar-second, 
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f,
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f > .view-rental-item-search,
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f > .view-rental-item-search > .view-content > .item-list,
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f > .view-rental-item-search > .view-content > .item-list > ul {
    @include zen-grid-container();
  }
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f ul li {
    @include zen-grid-item-base();
  }
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f ul li:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f ul li:nth-child(2n) {
    @include zen-grid-item(1,2);
    clear: none;
    background-color: none;
  }
  $zen-column-count: $temp-column-count;
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f ul li.views-row:nth-child(4n+1),
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f ul li.views-row:nth-child(4n) {
    background-color: #FCFCFC;
  }
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f .views-field-field-rental-images {
    background-color: inherit;
    height: 235px;
  }
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f .views-field-field-rental-images .no-image {
    margin-top: 85px;
  }
  #block-views-0aae8f16839ea8fe565a84bf0ccf339f .views-field-field-rental-price {
    display: inline-block;
  }
}

/**
* --------------------------------
* ----------- Desktop ------------
* --------------------------------
**/
@media all and (min-width: 960px) {
  $zen-column-count: $global-columns-large;
  #content > .container { @include debug-background();}

  /** -------------
  * search block style
  ----------------*/
  #block-block-9 {
    @include zen-clear(both);
    @include zen-grid-item($zen-column-count, 1);
  }
  body.front #block-block-9 {
    @include zen-grid-item(6, 3);
  }

  /**-------------
  * footer block style
  ---------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  #footer .block:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #footer .block:nth-child(2n) {
    @include zen-grid-item(1,2);
  }
  $zen-column-count: $temp-column-count;

  /**-------------
  * header block style
  ---------------*/
  /*
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  #header .block:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #header .block:nth-child(2n) {
    @include zen-grid-item(1,2);
  }
  $zen-column-count: $temp-column-count;

  #name-and-slogan {
    float: right;
  }
  */
  #name-and-slogan {
    margin: 0 auto;
  }

  /** -------------
  * shortcut block style
  ----------------*/
  #block-block-1 {
    @include zen-clear(both);
    @include zen-grid-item($zen-column-count, 1);
  }
  body.front #block-block-1 {
    @include zen-grid-item(6, 3);
    padding-left: 0px;
    padding-right: 0px;
  }
  $temp-column-count: $zen-column-count;
  $zen-column-count: 4;
  #block-block-1 ul li:nth-child(4n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #block-block-1 ul li:nth-child(4n+2) {
    @include zen-grid-item(1, 2);
  }
  #block-block-1 ul li:nth-child(4n + 3) {
    @include zen-grid-item(1, 3);
  }
  #block-block-1 ul li:nth-child(4n) {
    @include zen-grid-item(1, 4);
  }
  $zen-column-count: $temp-column-count;

  /** -------------
  * list style
  ----------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 9;
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-field-rental-suburb {
    @include zen-grid-item(1, 1);
  }
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-field-rental-property-type {
    @include zen-grid-item(1, 2);
  }
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-field-rental-rental-type {
    @include zen-grid-item(1, 3);
  }
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-title {
    @include zen-grid-item(4, 4);
  }
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-field-rental-price {
    @include zen-grid-item(1, 2, right);
  }
  .view-display-id-search_result_list > .view-content > .item-list > ul > .views-row > .views-field-created {
    @include zen-grid-item(1, 1, right);
  }
  $zen-column-count: $temp-column-count;
}