$link-color: #21A0CB;
$link-color-hover: #F39800;
$logo-color: #0578A5;
$search-box-color: #2BA6D2;
$search-box-highlight-color: #75B9F0;

$debug: false !default;
$zen-column-count: $global-columns-small;

@import "zen/background";

@mixin debug-background() {
  @if $debug {
    @include zen-grid-background();
  }
}
@mixin glow($color) {
  border-color: $color;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $color;
}



html, body {
  font-family: Helvetica,Corbel,"Microsoft YaHei",Verdana,Arial,sans-serif;
  color: #444;
}

a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  color: $link-color-hover;
  text-decoration: underline;
}
.clear {
  clear: both;
}

#header .block,
#content #block-views-exp-rental-item-search-page #views-exposed-form-rental-item-search-page > div .views-exposed-form .views-exposed-widgets > div,
#block-block-1 {
  @include zen-grid-item-base();
}

.container,
#header > .region-header,
#content #block-views-exp-rental-item-search-page,
#content #block-views-exp-rental-item-search-page #views-exposed-form-rental-item-search-page,
#content #block-views-exp-rental-item-search-page #views-exposed-form-rental-item-search-page > div,
#content #block-views-exp-rental-item-search-page #views-exposed-form-rental-item-search-page > div .views-exposed-form,
#content #block-views-exp-rental-item-search-page #views-exposed-form-rental-item-search-page > div .views-exposed-form .views-exposed-widgets,
#block-block-1,
#block-block-1 ul {
  @include zen-grid-container();
}



/**
* topnav style
*/
#topnav > nav {
  max-width: 1200px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
#topnav {
  background-color: #F8F8F8;
  color: #CCC;
  padding: 0px 0px 0px 15px;
  font-size: 12px;
  border-bottom: 1px solid #E6E6E6;
  height: 28px;
}
#topnav .block {
  margin: 0px;
}
#topnav ul.menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  top: 7px;
  left: 7px;
  line-height: 1em;
}
#topnav ul.menu li {
  display: block;
  float: left;
  padding: 1px 8px 1px 8px;
  border-right: solid 1px #DDD;
}
#topnav ul.menu li a {
  color: #949494;
}
#topnav ul.menu li a:hover {
  color: $link-color-hover;
}

#topnav #block-system-user-menu ul.menu {
  left: auto;
  right: 7px;
}

/**--------------------------
* Site name and slogan style
--------------------------- */
#header .block {
  position: relative;
  margin-bottom: 0px;
}
#name-and-slogan {
  width: 212px;
  position: relative;
}
#name-and-slogan a:hover {
  text-decoration: none;
  color: auto;
}
#name-and-slogan h1 {
  line-height: 46px;
  margin: 0px;
  padding-left: 100px;
  padding-top: 15px;
  
}
#name-and-slogan em {
  font-style: normal;
  color: #B90202;
  font-size: bold;
}
#name-and-slogan div {
  text-align: center;
}
#name-and-slogan .site-intro {
  margin-top: 12px;
  color: #777;
}
#name-and-slogan h1:after {
  position: absolute;
  font-family: FontAwesome;
  top: 44px;
  left: 0px;
  content: "\f015";
  color: $logo-color;
  font-size: 100px;
}
    
/** -------------
* search block style
----------------*/
#content #views-exposed-form-rental-item-search-page .views-widget {
  position: relative;
}
#content #edit-search-api-views-fulltext {
  width: 100%;
  border: 4px solid $search-box-color;
  height: 2.7em;
  color: #444;
  padding-left: 2em;
}
#content #edit-search-api-views-fulltext:focus {
  @include glow($search-box-highlight-color);
}
#content #views-exposed-form-rental-item-search-page .form-item-search-api-views-fulltext:after {
  position: absolute;
  font-family: FontAwesome;
  top: 10px;
  left: 0.8em;
  content: "\f002";
  color: #999;
  font-size: 0.8em;
}
#content #edit-submit-rental-item-search {
  margin: 0px;
  width: 100%;
  border: none;
  background-color: $search-box-color;
  color: #FFF;
  height: 2.7em;
}
#content #edit-submit-rental-item-search:hover {
  background-color: $search-box-highlight-color;
}

/** -------------
* footer style
----------------- */
#footer-wrapper {
  width: 100%;
  clear: both;
  border-top: 1px solid #EEEEEE;
}
#block-block-2 {
  color: #999;
  font-size: 0.7em;
}
#block-block-2 i {
  color: red;
}
#block-menu-block-2 {
  font-size: 0.7em;
}
#block-menu-block-2 h2 {
  display: none;
}
#block-menu-block-2 ul.menu {
  list-style: none;
  padding-left: none;
  margin-left: 0px;
  padding-left: 0px;
}
#block-menu-block-2 ul.menu li {
  display: block;
  float: left;
  margin-right: 14px;
}
#block-menu-block-2 ul.menu li a {
  color: #999;
}

/** -------------
* shortcut block style
----------------*/
#block-block-1 h2 {
  padding: 5px 15px;
  background-color: #EEEEEE;
  color: #949494;
  font-size: 0.9em;
}
#block-block-1 ul {
  list-style: none;
  border: #EEE 1px solid;
  margin-top: 0px;
  padding: 0px;
}
#block-block-1 ul li {
  padding: 4px 7px;
  font-size: 0.8em;
}

/**
* --------------------------------
* ---------- Cell phone ----------
* --------------------------------
**/
@media all and (min-width: 0px) and (max-width: 479px) {
  /* columns count is defined on the top */
   #content > .container { @include debug-background();}
  
  /** -------------
  * search block style
  ----------------*/
  #views-exposed-form-rental-item-search-page #edit-search-api-views-fulltext-wrapper,
  #views-exposed-form-rental-item-search-page .views-submit-button {
    @include zen-grid-item(1, 1);
    @include zen-clear(both);
  }


  /**-------------
  * footer block style
  ---------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 1;
  #footer .block {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
    margin-bottom: 0px;
  }
  #footer p {
    margin-bottom: 0px;
  }
  #footer ul.menu {
    margin: 0px 0px 10px 0px;
  }
  $zen-column-count: $temp-column-count;

  /**-------------
  * header block style
  ---------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 1;
  #header .block {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
    margin-bottom: 0px;
  }
  $zen-column-count: $temp-column-count;

  #name-and-slogan {
    margin: 0px auto;
  }

  /** -------------
  * shortcut block style
  ----------------*/
  #block-block-1 {
    @include zen-clear(both);
    @include zen-grid-item(1, 1);
  }
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  #block-block-1 ul li:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #block-block-1 ul li:nth-child(2n) {
    @include zen-grid-item(1, 2);
  }
  $zen-column-count: $temp-column-count;
}

/**
* --------------------------------
* ------------ Tablet ------------
* --------------------------------
**/
@media all and (min-width: 480px) and (max-width: 959px) {
  $zen-column-count: $global-columns-middle;
  #content  > .container { @include debug-background();}
  
  /** -------------
  * search block style
  ----------------*/
  #views-exposed-form-rental-item-search-page #edit-search-api-views-fulltext-wrapper {
    @include zen-grid-item(3, 2);
    @include zen-clear(both);
  }
  #views-exposed-form-rental-item-search-page .views-submit-button {
    @include zen-grid-item(1, 5);
  }
  
  /**-------------
  * footer block style
  ---------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  #footer .block:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #footer .block:nth-child(2n) {
    @include zen-grid-item(1,2);
  }
  $zen-column-count: $temp-column-count;

  /**-------------
  * header block style
  ---------------*/
  /*
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  #header .block:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #header .block:nth-child(2n) {
    @include zen-grid-item(1,2);
  }
  $zen-column-count: $temp-column-count;

  #name-and-slogan {
    float: right;
  }
  */
  #name-and-slogan {
    margin: 0 auto;
  }
  
  /** -------------
  * shortcut block style
  ----------------*/
  #block-block-1 {
    @include zen-clear(both);
    @include zen-grid-item(4, 2);
  }
  $temp-column-count: $zen-column-count;
  $zen-column-count: 3;
  #block-block-1 ul li:nth-child(3n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #block-block-1 ul li:nth-child(3n+2) {
    @include zen-grid-item(1, 2);
  }
  #block-block-1 ul li:nth-child(3n) {
    @include zen-grid-item(1, 3);
  }
  $zen-column-count: $temp-column-count;
}

/**
* --------------------------------
* ----------- Desktop ------------
* --------------------------------
**/
@media all and (min-width: 960px) {
  $zen-column-count: $global-columns-large;
  #content > .container { @include debug-background();}

  /** -------------
  * search block style
  ----------------*/
  #views-exposed-form-rental-item-search-page #edit-search-api-views-fulltext-wrapper {
    @include zen-grid-item(5, 3);
    @include zen-clear(both);
  }
  #views-exposed-form-rental-item-search-page .views-submit-button {
    @include zen-grid-item(1, 8);
  }

  /**-------------
  * footer block style
  ---------------*/
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  #footer .block:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #footer .block:nth-child(2n) {
    @include zen-grid-item(1,2);
  }
  $zen-column-count: $temp-column-count;

  /**-------------
  * header block style
  ---------------*/
  /*
  $temp-column-count: $zen-column-count;
  $zen-column-count: 2;
  #header .block:nth-child(2n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #header .block:nth-child(2n) {
    @include zen-grid-item(1,2);
  }
  $zen-column-count: $temp-column-count;

  #name-and-slogan {
    float: right;
  }
  */
  #name-and-slogan {
    margin: 0 auto;
  }

  /** -------------
  * shortcut block style
  ----------------*/
  #block-block-1 {
    @include zen-clear(both);
    @include zen-grid-item(6, 3);
  }
  $temp-column-count: $zen-column-count;
  $zen-column-count: 4;
  #block-block-1 ul li:nth-child(4n+1) {
    @include zen-grid-item(1,1);
    @include zen-clear(both);
  }
  #block-block-1 ul li:nth-child(4n+2) {
    @include zen-grid-item(1, 2);
  }
  #block-block-1 ul li:nth-child(4n + 3) {
    @include zen-grid-item(1, 3);
  }
  #block-block-1 ul li:nth-child(4n) {
    @include zen-grid-item(1, 4);
  }
  $zen-column-count: $temp-column-count;
}